{% extends 'base.html' %}

{% load static %}

{% block styles %}
    {% include "snippets/form_styles.html" %}
{% endblock styles %}

{% block search %}
<div class="d-flex justify-content-center">
    <form method="POST" action="/search/">
        {% csrf_token %}
        <h1>Dual Lingual Information Retrieval Indonesia-Arab</h1>
        <label for="exquery">Ekspansi Kueri</label>
        <select id="exquery" name="exquery">
            <option value="Tidak">Tidak</option>
            <option value="Iya">Iya</option>
        </select> <br> <br>
        <input type="text" name="textfield"  class="keyboardInput" style="width: 450px;">
        <link rel="stylesheet" type="text/css" href="http://www.arabic-keyboard.org/keyboard/keyboard.css"> 
        <script type="text/javascript" src="http://www.arabic-keyboard.org/keyboard/keyboard.js" charset="UTF-8"></script>
        <br><br> 
        <button type="submit">Search</button>
    </form>
</div>
{% endblock search %}

{% block content %}
    <br>
    <br>
    <form>

        {% for kitab in Kitabs%}
            <div class="jumbotron jumbotron-fluid" style="background-color: #90EE90;">
		<div class="container">
                <h4>Kategori : {{kitab.kategori}}</h4>
                <h4>Nama Kitab : {{kitab.nama_kitab}}</h4>
                <h4>Pengarang : {{kitab.pengarang}}</h4>
                <h4>Nomor Halaman : {{kitab.no_halaman}}</h4>
                <hr class="my-4">
                <h4>Teks</h4>
                <h4>{{kitab.teks_processing}}</h4>
                <br>
                <form action="/action_page.php">
                    <input type="checkbox" id="relevan" name="relevan" value="relevan">
                    <label for="relevan">Relevan</label><br>
		</div>
            </div>
        {% endfor %}
    </form>
{% endblock content %}


