{% extends 'base.html' %}

{% load static %}

{% block styles %}
    {% include "snippets/form_styles.html" %}
{% endblock styles %}

{% block search %}
    <form method="POST" action="/search/">
        {% csrf_token %}
        <h1>Dual Lingual Information Retrieval Indonesia-Arab</h1>
        <label for="exquery">Ekspansi Kueri</label>
        <select id="exquery" name="exquery">
            <option value="Tidak">Tidak</option>
            <option value="Iya">Iya</option>
        </select> <br> <br>
        <input type="text" name="textfield"  class="keyboardInput" style="width: 450px;">
        <link rel="stylesheet" type="text/css" href="http://www.arabic-keyboard.org/keyboard/keyboard.css"> 
        <script type="text/javascript" src="http://www.arabic-keyboard.org/keyboard/keyboard.js" charset="UTF-8"></script>
        <br><br> 
        <button type="submit">Search</button>
    </form>
{% endblock search %}

{% block content %}
    <form>
        {% for kitab in Kitabs%}
            <h4>Nomor database : {{kitab.no_database}}</h4>
            <h4>Kategori : {{kitab.kategori}}</h4>
            <h4>Nama Kitab : {{kitab.nama_kitab}}</h4>
            <h4>Pengarang : {{kitab.pengarang}}</h4>
            <h4>Nomor Halaman : {{kitab.no_halaman}}</h4>
            <h4>Teks Processing</h4>
            <h4>{{kitab.teks_processing}}</h4>
            <br>
        {% endfor %}
    </form>
{% endblock content %}

