{% extends 'base.html' %}

{% load static %}

{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock head %}

{% block styles %}
    {% include "snippets/form_styles.html" %}
    <link rel="stylesheet" type="text/css" href="{% static "predictor/css/styles.css" %}">
{% endblock styles %}

{% block content %}
    <div class="registration-form">
        <form method="post">
            {% csrf_token %}
            <h1 style='text-align: center;'> Review Hasil Pencarian Dokumen </h1>
            <br>
            <div class="form-icon" style='background-color: #32CD32;'>
                <span><i class="icon icon-book-open"></i></span>
            </div>
            {% for field in review_form %}
                <div class="form-group">
                    {{ field.label_tag}}
                    {{ field }}
                </div>
            {% endfor %}
            <div class="form-group">
                <button type="submit" class="btn btn-block register" style="background-color:#32CD32;">Kirim Review</button>
            </div>
        </form>
    </div>
{% endblock content %}