{% extends 'base.html' %}

{% block header %}
    <h1>Registrasi</h1>
{% endblock header %}

{% block nav %}
    <a href="/">Home</a><br>    
    <a href="/account/login">Login</a><br>    
    <a href="/account/register">Register</a><br>    
{% endblock nav %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
        {% endfor %}
        <button type="submit">Registrasi</button>
    </form>
{% endblock content %}

