{% extends 'base.html' %}

{% block header %}
    <h1>Home</h1>
{% endblock header %}

{% block nav %}
    <a href="/">Home</a> <br>
    {% if user.is_authenticated %}
        <h4>{{user}}</h2>
        <a href="/kitab">Upload Kitab</a> <br>
        <a href="/account/logout">Logout</a><br>    
    {% else %}
        <a href="/account/login">Login</a><br>    
        <a href="/account/register">Register</a><br>    
    {% endif %}
{% endblock nav %}

{% block search %}
    <form method="POST" action="/search/">
        {% csrf_token %}
        <h1>Dual Lingual Information Retrieval Indonesia-Arab</h1>
        <input type="text" name="textfield"  class="keyboardInput" style="width: 450px;">
        <link rel="stylesheet" type="text/css" href="http://www.arabic-keyboard.org/keyboard/keyboard.css"> 
        <script type="text/javascript" src="http://www.arabic-keyboard.org/keyboard/keyboard.js" charset="UTF-8"></script>
        <br><br> 
        <button type="submit">Search</button>
    </form>
{% endblock search %}
