{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/bootstrap.min.css" %}">
{% endblock styles %}

{% block search %}
    <div class="d-flex justify-content-center">
        <form method="POST" action="/search/">
            {% csrf_token %}
            <h1 style="text-align: center">Dual Lingual Information Retrieval Indonesia-Arab</h1>
            <label for="exquery" style="text-align: center">Ekspansi Kueri</label>
            <select id="exquery" name="exquery" class="justify-content-center" style="text-align: center">
                <option value="Tidak">Tidak</option>
                <option value="Iya">Iya</option>
            </select> <br> <br>
            <input type="text" name="textfield"  class="keyboardInput" style="width: 450px;">
            <link rel="stylesheet" type="text/css" href="http://www.arabic-keyboard.org/keyboard/keyboard.css"> 
            <script type="text/javascript" src="http://www.arabic-keyboard.org/keyboard/keyboard.js" charset="UTF-8">
            </script>
            <br><br> 
            <button type="submit">Search</button>
        </form>
    </div>
{% endblock search %}
